<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="RunOnChrome">
        <parameter name="browser" value="CHROME"></parameter>
        <classes>
            <class name="TestCases.LoginTest"></class>
        </classes>
    </test>
    <test  name="RunOnFirefox">
        <parameter name="browser" value="FIREFOX"></parameter>
        <classes>
            <class name="TestCases.LoginTest"></class>
        </classes>
    </test>
</suite>