<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!--<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/fahiezah/Desktop/2024Projects/SeleniumProjects">
        <classes>
            <class name="TestCases.LoginTest">
                <methods>
            <include name="checkLogin"/>
            <include name="navigateToGmail"/>
        </methods></class></classes>
    </test></suite>-->

<suite name="All Test Suite" parallel="tests">
<!--<test name="RunOnChrome" parallel="methods">
    <parameter name="browser" value="CHROME"></parameter>
    <classes>
        <class name="TestCases.LoginTest"></class>
    </classes>
</test>
<test  name="RunOnFirefox" parallel="methods">
    <parameter name="browser" value="FIREFOX"></parameter>
    <classes>
        <class name="TestCases.LoginTest"></class>
    </classes>
</test>-->

    <test  name="RunOnChrome" parallel="methods">
        <parameter name="browser" value="CHROME"></parameter>
        <classes>
            <class name="TestCases.NavigationTest"></class>
            <class name="TestCases.AddToCartTest"></class>
            <class name="TestCases.SearchTest"></class>
            <class name="TestCases.LoginTest"></class>
            <class name="TestCases.CheckOutTest"></class>
        </classes>
    </test>
    <test  name="RunOnFirefox" parallel="methods">
        <parameter name="browser" value="FIREFOX"></parameter>
        <classes>
            <class name="TestCases.NavigationTest"></class>
            <class name="TestCases.AddToCartTest"></class>
            <class name="TestCases.SearchTest"></class>
            <class name="TestCases.LoginTest"></class>
            <class name="TestCases.CheckOutTest"></class>
        </classes>
    </test>
</suite>